/pkg
/root
/status
/build
/cross
/yum
/srv
/var
/Makefile
/autom4te.cache/
/bin/build
/bin/pkg2rpm
/bin/umount-arch
/bin/mkbuilddef
/config.log
/config.*
/etc/yum_repo.conf
/lsb/lsb-release
/lsb/lsb_release.1.gz
/kernconfig/*.old
/bin/mkkern
/libexec/make_qt-5
/libexec/make_qt-4-bin
/libexec/make_sip
